:root {

    --header-color: hsl(14, 45%, 36%);
    --preparation-color: hsl(332, 51%, 32%);
    
    --White: hsl(0, 0%, 100%);
    --preparation-background-color: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --body-text-color: hsl(30, 10%, 34%);
    --top-header-color: hsl(24, 5%, 18%);
    --background-color: hsla(13, 96%, 55%, 0.056);
    --border-color: rgb(229, 228, 228);
} 

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    font-family: outfit;
    font-size: 16px;
    color: var(--body-text-color);
    background-color: var(--background-color);
}

.bodyContainer {
    max-width: min(750px, 100%);
    margin: 107px auto 107px auto;  
    background-color: var(--White);
    border-radius: 1.25rem;
}

.paddingContainer {
    padding-top: 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
}

.headingPic {
    max-width: min(750px, 100%);
    background-color: var(--White);
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.headingPic img {
    width: 100%;
    border-radius: 1.25rem;
}

@media only screen and (max-width: 750px) {
    .bodyContainer {
        margin: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 750px) {
     .headingPic, .headingPic img {
        border-radius: 0;
        padding: 0;
     }
}


.introduction h2 {
    color: var(--top-header-color);
    font-size: 2.75rem;
    margin-top: 1.3rem;
    line-height: 1em;
}

@media only screen and (max-width: 750px) {
    .introduction h2 {
        font-size: 2rem;
    }

}

.introduction p {
    line-height: 1.75rem;
    padding-top: 20px;
    font-size: 1.2rem;
}

.preparationContainer {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.preparationContainer ul {
    line-height: 1.5rem;   
    margin-top: 10px;
}

.preparationContainer h4 {
    margin-bottom: 0;
    font-size: 1.25rem
}

.ingredients .listColorOrange {
    list-style: square;
    font-size: .70rem;
}

h2, h3 {
    font-family: "young serif";
    font-weight: 100;
}

h3 {
    color: var(--header-color);
}

h4 {
    color: var(--preparation-color);
    font-weight: 600;
}

.preparationContainer {
    background-color: var(--preparation-background-color);
}

.preparationBulletColor {
    color: var(--preparation-color);
}

.preparationContainer ul {
    margin-left: 1.25em;
}

.preparationList {
    color: var(--body-text-color);
    position: relative;
    left: 30px;
    width: 75%;
    height: 75%;
}

.ingredients h3 {
    font-size: 1.75rem;
    margin-bottom: 0px;
}


.ingredients ul {
    line-height: 2.5rem;
    margin-top: 0px;
    margin-bottom: 1.75rem;
    padding-top: 15px;
    padding-left: 20px;
}

.ingredients li {
    padding-left: 20px;
}

.instructions h3 {
    font-size: 1.75rem;
    border-top: solid 1px var(--border-color);
    padding-top: 2rem;
    margin-bottom: 17px;
}

.instructions ol {
    padding-left: 25px;
    padding-bottom: 2rem;  
}


.instructions li {
    line-height: 2rem;
    margin-top: 10px;
    padding-left: 18px;
}


.listColorOrange {
    color: var(--header-color)
}

.listColorGray {
    color: var(--body-text-color);
    font-size: 1rem;
}

.nutrition table {
    width: 75%;
    line-height: 3rem;
    border-collapse: collapse;
    width: 100%;
}

.nutrition h3 {
    font-size: 1.75rem;
    border-top: 1px solid var(--border-color);
    padding-top: 25px;
    padding-bottom: 25px;
}

.nutrition p {
    padding-bottom: 1rem;
}

.nutrition .macro {
    padding-left: 28px;
    width: 50%;
}


.listColorOrangeBold {
    color: var(--header-color);
    font-weight: 600;
}

td {
    border-bottom: 1px solid var(--border-color);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    gap: 20px; 
    padding-top: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} 